/* .App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

header {
  height: 10vh;
  border-bottom: 1px black solid;
  padding-top: 2vh;
  background-color: #990000;
}

.navbar {
  background-color: #990000;
}

.navbar-item,
.navbar-link {
  color: white;
}

.main-content {
  padding: 20px;
  margin-top: 10px;
  min-height: 80vh;
  /* flex: 1; */
}

.control {
  margin-top: 20px;
}

.panel-heading {
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}

footer {
  height: 10vh;
}
